<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand me-5" routerLink="/">ImmoBeau</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fs-6 active" routerLink="/">Accuiel </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6" routerLink="#">À propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6" routerLink="#" aria-disabled="false">Tarifs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-6" routerLink="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" tabindex="-1">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="#">Action</a></li>
            <li><a class="dropdown-item" routerLink="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex">
        <a class="btn btn-outline-primary me-2" routerLink="/login" role="button">Se connecter</a>
        <a class="btn btn-outline-primary" routerLink="/register" role="button">Créer un compte</a>
      </div>
    </div>
  </div>
</nav>

<!-- footer -->
<div>
  <router-outlet #footer></router-outlet>
</div>
<footer class="page-footer font-small pt-4 " id=footer>
  this is the footer
  <div class="footer-copyright text-center py-3">
    © 2022 Copyright:
    <a> ImmoBeau.com</a>
  </div>
</footer> 