<section id="home">
    <div class="container">
        <div class="row mb-2">
            <div class="mainDescription">
                <br><br><br>
                <p class='siteTittle fs-3 lh-base'>Gérez vos biens immobiliers grâce à ImmoBeau, la meuilleur application de gestion locative immobilière en France </p>
                <br>
                <p class="text-center fs-5 lh-sm">ImmoBeau vous propose un outil de management de biens immobiliers simple, efficace... Notre objectif est de vous <b class="bold">simplifier la gestion</b> et de vous faire <b class="bold">gagner du temps</b>.</p>
            </div>
            <div class="centered-element">
                <br>
                <div class="sign">
                    <a class="btn btn-primary btn-large position-relative me-4" routerLink="#">COMMEMCER | <a class="textColor">GRATUIT</a></a>
                    <img src="assets/undraw_interview.svg" alt="home" class="img-fluid mainImage">
                </div>
            </div>
            <br><br>
            <hr class="separator">
            <p class="siteTittle fs-4">Comment ça marche ?</p>
            <br><br>


            
            <a href="/login" class="btn btn-primary btn-lg">...</a>
        </div>
    </div>
</section>


