<section id="home">
    <div class="container">
        <div class="row">
            <img src="assets/undraw_houses.svg" >
            <br><br>
            <div class="span10 offset1 margin10"><br><br>
                <p></p>
                <h1 class='text-center'>Gérez vos biens immobiliers grâce à ImmoBeau, la meuilleur application de <br> gestion locative immobilière en France </h1>
                <p class="center lead">ImmoBeau vous propose un outil de management de biens immobiliers simple, efficace. Notre objectif est de vous <b>simplifier la gestion</b> et de vous faire <b>gagner du temps</b>.
                    <br><br>
                    
                    <a class="btn btn-primary btn-large" href="#">En savoir plus</a> 
                </p>
                
                <!-- <div class="row-fluid text-center thumbnails p-b-40 p-l-10">
                    <div class="span4 center p-r-20 p-b-10 p-t-10">
                        <div>
                            <span class="font2x bold green">30 000+</span>
                            <br>
                            <span class="lead medium lh-40">Bailleurs</span>
                            <br>
                            <span class="light fs-16">Des dizaines de milliers de bailleurs utilisent ImmoBeau au quotidien</span>
                        </div>
                    </div>
                    <div class="span4 center p-r-20 p-l-10 p-b-10 p-t-10">
                        <div>
                            <span class="font2x bold green">100 000+</span>
                            <br>
                            <span class="lead medium lh-40">Biens</span>
                            <br>
                            <span class="light fs-16">Plus de 100 000 biens mis en location sont gérés chez nous</span>
                        </div>
                    </div>
                    <div class="span4 center p-r-20 p-b-10 p-t-10">
                        <div>
                            <span class="font2x bold green">150 000+</span>
                            <br>
                            <span class="lead medium lh-40">Locataires</span>
                            <br>
                            <span class="light fs-16">Plus de 150 000 locataires enregistrés</span>
                        </div>
                    </div>
                </div>  -->
            </div>
        </div>
        
    </div>
</section>


