<form [formGroup]="myForm" (submit)="submit()">
    <div class="centered-element mb-4" style="width: 25rem">
        <h1 class="text-center st-h">ImmoBeau</h1>
        <p class="text-center fs-6"> <b class="bold-m fs-5">Connexion à votre espace</b> <br>Un dernier pas pour une gestion de biens garentie</p>
    </div>
    <div class="centered-element card" style="width: 25rem">
        <div class="card-body">
            <h4 class="text-center">CONNEXION AVEC...</h4>
            <hr class="separator">
            <div class="d-grid gap-3 col-6 mx-auto">
                <a href="/site-google" class="btn btn-light hover" role="button">
                    Connexion 
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 48 48" class="abcRioButtonSvg"><g><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path><path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path><path fill="none" d="M0 0h48v48H0z"></path></g></svg>
                </a>
            </div>            
            <h5 class="text-center">OU...</h5>
            <hr class="separator">
            <div class="mb-2">
                <div class="input-group has-validation">
                    <input type="email" class="form-control" id="Email"  formControlName="email" placeholder="Email"  
                    [ngClass]="{ 'is-invalid': personalSubmitted && personal.email.errors }" required>
                    <div *ngIf="personalSubmitted && personal.email.errors" class="invalid-feedback">
                        <div *ngIf="personal.email.errors.required">L'email est obligatoire</div>
                        <div *ngIf="personal.email.errors.email">Votre email n'est pas valide</div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Mot de passe" formControlName="password" id="userPassword" 
                [ngClass]="{ 'is-invalid': personalSubmitted && personal.password.errors }" required>
                <div *ngIf="personalSubmitted  && personal.password.errors" class="invalid-feedback">
                    <div *ngIf="personal.password.errors.required">Le mot de passe est obligatoire</div>
                    <div *ngIf="personal.password.errors.minlength">Le mot de passe doit avoir au minimum 6 caractéres </div>
                  </div>
            </div>
            <p class="text-end"><a class="ut" href="/reset-password">Mot de passe oublié ?</a></p>
            <div class="d-grid gap-2 col-6 mx-auto mb-3">
                <button type="submit" class="btn btn-primary gap-2">CONNEXION</button>
            </div>
            <p class="text-center">Pas encore inscrit ? <a class="ut" href="/register">Cliquez ici</a></p>
        </div>
    </div>
    <br>
</form> 
