p {margin: 0; padding: 0;}	
.ft10{font-size:14px;font-family:Times;color:#000000;}
.ft11{font-size:14px;font-family:Times;color:#000000;}
.ft12{font-size:20px;font-family:Times;color:#000000;}
.ft13{font-size:20px;font-family:Times;color:#ffffff;}
.ft14{font-size:14px;line-height:20px;font-family:Times;color:#000000;}
.ft15{font-size:14px;line-height:21px;font-family:Times;color:#000000;}
.ft16{font-size:14px;line-height:21px;font-family:Times;color:#000000;}
.ft17{font-size:14px;line-height:22px;font-family:Times;color:#000000;}